# 构建输出
build/
dist/
msi_obj/
*.obj
*.exe
*.msi
*.pdb
*.ilk

# 临时数据
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo
*.sdf
*.opensdf

# 杂项
*.log
*.tmp
.DS_Store
Thumbs.db
